<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* template head*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ShaadiAsan</title>

    <!-- jQuery library (served from Google) -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Content/mytemplate/")asset/js/bootstrap.min.js"></script>
    <!-- bxSlider Javascript file -->
    <script src="@Url.Content("~/Content/bxslider/")jquery.bxslider.min.js"></script>
    <!-- bxSlider CSS file -->
    <link href="@Url.Content("~/Content/bxslider/")jquery.bxslider.css" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/mytemplate/")asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="@Url.Content("~/Content/mytemplate/")css/font-awesome.min.css" rel="stylesheet">


    <!-- Animate CSS -->
    <link href="@Url.Content("~/Content/mytemplate/")css/animate.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.carousel.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.theme.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/owl.transitions.css">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/mytemplate/")css/style.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/mytemplate/")css/responsive.css" rel="stylesheet">
    <link href="~/Content/semantic.min.css" rel="stylesheet" />

    <!-- Colors CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/mytemplate/")css/color/light-red.css" title="light-red">




    <!-- Colors CSS >
     <link rel="stylesheet" type="text/css" href="css/color/green.css">
    <link rel="stylesheet" type="text/css" href="css/color/green.css" title="green">

    <link rel="stylesheet" type="text/css" href="css/color/blue.css" title="blue">
    <link rel="stylesheet" type="text/css" href="css/color/light-blue.css" title="light-blue">
    <link rel="stylesheet" type="text/css" href="css/color/yellow.css" title="yellow">
    <link rel="stylesheet" type="text/css" href="css/color/light-green.css" title="light-green">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>


    <!-- Modernizer js -->
    <script src="@Url.Content("~/Content/mytemplate/")js/modernizr.custom.js"></script>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav style="background-color:#222 !important;" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/Home/Index"><img src="@Url.Content("~/Content/mytemplate/")images/mainlogo2.png" style="width:160px;padding-right: 50px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#service">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Index#portfolio">Featured Halls</a>
                    </li>
                    <li>
                        @Html.ActionLink("Halls","Index","Places", routeValues: null, htmlAttributes: null)
                    </li>
                    <li>
                        <a class="page-scroll" href="#about-us">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div style="padding-top: 50px !important;margin-top: 50px !important; margin-bottom:30px !important;">
        @RenderBody()
    </div>
    <script src="~/Scripts/semantic.min.js"></script>
</body>
</html>
